@import url('https://fonts.googleapis.com/css?family=Abel|Inconsolata&display=swap');
body {
  font-family: 'Abel', sans-serif;
  background-color: #B7E1E8;
  color: #51728C;
}

nav li {
  display: inline;
}

nav a {
  margin: 15px;
  text-decoration: none ;
  color: white;
}

header {
  margin: 20px;
  text-align: center;
  color: white;
}

main img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.padding {
  padding: 20px;
}

#image {
  background-image: url("cat2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#title {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 100px;
}

nav {
  text-align: center;
  background-color: #5989FF;
  margin-top: 520px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
  letter-spacing: 1px;
}

